.layout {
   display: flex;
  width: 1024px;
  padding: 48px 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

/* text styles here: */

.bodyMidnight {
  color: #000;
  font-family: Signifier;
  font-size: 2vw;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.bodySlate {
  color: #5C5C5C;
font-family: Latitude;
font-size: 2vw;
font-style: normal;
font-weight: 400;
line-height: normal;
}

a {
  color: #000000;
  font-family: Latitude;
  font-size: 2vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
}
a:visited {
  color: #9C7066;
   font-family: Latitude;
  font-size: 2vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
}
