

.div1 {
  width: 100%; height: 100%; padding-left: 24px; padding-right: 24px; padding-top: 48px;  padding-bottom: 48px; background: white; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 10px; display: inline-flex
}

.div2 {
justify-content: flex-start;
  align-items: flex-start; 
  gap: 10px; 
  display: inline-flex; 
  flex-flow: row wrap;
}

@media screen and (max-width:600px){
  .div2 {
    flex-direction:column
  }
 }

.div3 {
   flex-direction: column; 
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  display: inline-flex
}

.div4 {
   flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 10px; display: flex
}

/* text styles here: */

.bodyMidnight {
  color: #000;
  font-family: Signifier;
  font-size: 2vw;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.bodySlate {
  color: #5C5C5C;
font-family: Latitude;
font-size: 2vw;
font-style: normal;
font-weight: 300;
line-height: normal;
}

a {
  color: #000000;
  font-family: Latitude;
  font-size: 2vw;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-decoration-line: underline;
}
a:visited {
  color: #9C7066;
   font-family: Latitude;
  font-size: 2vw;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-decoration-line: underline;
}
