

.div1 {
  padding-left: 24px; 
  padding-right: 24px; 
  padding-top: 48px;  
  padding-bottom: 48px;
  max-width: fit-content; 
  max-height: fit-content;
  /* background: rgb(231, 231, 243);  */
}

.div2 {
  /* display: -webkit-box;
  display: -ms-flexbox; */
  display: flex;
  /* flex-direction: row; */
  flex-wrap:wrap;
  justify-content: left;
  max-width: 100%;
  max-height: fit-content;
  box-sizing: content-box;
  /* height: fit-content; */
  gap: 10px;
  /* background: rgb(250, 159, 255); */
  
}
.div3 {
  min-width: 200px;
  max-width: 400px;
  max-height: fit-content;
  flex-direction: row; 
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  display: inline-flex;
  /* background: rgb(124, 110, 157); */
}

.div4 {
  /* width: 50%; */
  flex-direction: column; 
  justify-content: flex-start; 
  align-items: flex-start;
   gap: 10px; 
   display: flex;
  /* background-color: rgb(188, 174, 200); */
}

.div5 {
  width: 100%;
  /* background-color: aqua; */
}

/* @media screen and (max-width:350px){
  .div2 {
    flex-direction:column;
    display: block;
    width: max-width;
  }
 }

@media screen and (max-width:1920px){
  .div2 {
    flex-direction:row;
    display:inline-block;
    width: 400px;
  }
 } */

/* text styles here: */

.bodyMidnight {
  color: #000;
  font-family: Signifier;
  font-size: 14px;
  font-style: normal;
  line-height: normal;
  text-align: justify;
  text-justify: inter-word;
}

.bodySlate {
  color: #5C5C5C;
font-family: Latitude;
font-size: 12px;
font-style: normal;
font-weight: 300;
line-height: normal;
text-align: justify;
text-justify: inter-word;
}

.hero {
  width: max-content;
  max-height: 222px;
  /* background-color: blue; */
}

a {
  color: #000000;
  font-family: Latitude;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-decoration-line: underline;
}
a:visited {
  color: #9C7066;
   font-family: Latitude;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-decoration-line: underline;
}
